# Exercise for Pandas exploratory data analysis

In [2]:
import pandas as pd

In [37]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv")
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

Calculate how many rows in the whole data

In [29]:
# Solution goes here
print("rows = ", data.shape[0])

rows =  517

Calculate how many columns are for the whole dataset

In [20]:
# Solution goes here
print("Columns = ", data[data.month=='mar'].shape[1])

Columns =  13

Calculate how many rows are for the month of march

In [21]:
# Solution goes here
print("Rows = ", data[data.month=='mar'].shape[0])

Rows =  54

In [24]:
data.isnull().count()

X        517
Y        517
month    517
day      517
FFMC     517
DMC      517
DC       517
ISI      517
temp     517
RH       517
wind     517
rain     517
area     517
dtype: int64

Check if there are missing values

In [28]:
# Solution goes here
data.isnull().sum()

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

Save temperature for month of March

In [78]:
# Solution goes here
mar_month = data[data.month=='mar']
mar_temp = mar_month.temp
print(mar_temp)

0       8.2
3       8.3
4      11.4
16     15.1
18     15.9
39     14.1
48     11.8
49     11.0
60     11.5
61      5.5
69     17.2
70     15.8
72     15.6
77      8.3
89     17.4
91     17.4
97     17.4
105    12.7
106    18.2
110    13.7
111    18.8
114    15.8
115    15.5
116    11.6
117    15.2
118    10.6
126     9.0
131    14.0
132    10.6
134    14.9
146    13.2
160    16.1
162    15.2
165     5.3
168    14.6
186    11.5
188    13.3
189    11.5
190    11.7
201    12.4
204    15.1
213    11.0
214    17.0
215    17.0
219    15.2
222    11.0
378     8.7
387    11.6
393    15.2
417    13.8
447     8.9
466    10.2
467    11.2
468    13.3
Name: temp, dtype: float64

Calculate average temperature for March

In [86]:
# Solution goes here
def averageOfList(num):
    sumOfNumbers = 0
    for t in num:
        sumOfNumbers += t

    avg = sumOfNumbers / len(num)
    return avg


print("The average of temperature is %.2f"%averageOfList(mar_temp))

The average of temperature is 13.08