In [15]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data", header=None,
                names=['Class', 'AGE', 'SEX', 'STEROID', 'ANTIVIRALS', 'FATIGUE', 'MALAISE', 'ANOREXIA', 'LIVER BIG', 
                       'LIVER FIRM', 'SPLEEN PALPABLE', 'SPIDERS', 'ASCITES', 'VARICES', 'BILIRUBIN', 'ALK PHOSPHATE',
                       'SGOT', 'ALBUMIN', 'PROTIME', 'HISTOLOGY'])
df = pd.DataFrame(data)

In [3]:
df.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.7,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.0,?,200,4.0,?,1

In [5]:
def replace_missing(df):
    for i, j in df.iterrows():
        ct = 0 
        for col in j:
            if(col == '?'):
                df.iloc[i,ct] = np.nan
            ct += 1
    return df

In [6]:
df_new = replace_missing(df)

In [7]:
df_new.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.0,NaN,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,NaN,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.0,NaN,1
3,2,31,1,NaN,1,2,2,2,2,2,2,2,2,2,0.7,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.0,NaN,200,4.0,NaN,1

In [74]:
df_new['AGE'].min()

78

In [76]:
df_new['AGE'].max()

78

In [19]:
df_new.columns[0]
df_new['Class'].value_counts().sort_index()

1     32
2    123
Name: Class, dtype: int64

In [24]:
df.count(0)

Class              155
AGE                155
SEX                155
STEROID            154
ANTIVIRALS         155
FATIGUE            154
MALAISE            154
ANOREXIA           154
LIVER BIG          145
LIVER FIRM         144
SPLEEN PALPABLE    150
SPIDERS            150
ASCITES            150
VARICES            150
BILIRUBIN          149
ALK PHOSPHATE      126
SGOT               151
ALBUMIN            139
PROTIME             88
HISTOLOGY          155
dtype: int64

In [25]:
df.count(1)

0      19
1      19
2      19
3      19
4      18
       ..
150    19
151    19
152    19
153    20
154    20
Length: 155, dtype: int64

In [53]:
from collections import defaultdict
def MakeHepatitisMap(df):
    d = defaultdict(list)
    for index, caseid in df.AGE.iteritems():
        d[caseid].append(index)
    return d

In [54]:
d = MakeHepatitisMap(df)

In [58]:
x = d.get(30)

In [59]:
x

[0, 9, 13, 54, 57, 82, 87, 96]

In [71]:
s = {}
for i in x:
    dic = {df.SEX[i]: (df.Class[i])}
    print(dic)

{2: 2}
{1: 2}
{1: 2}
{1: 2}
{1: 2}
{1: 2}
{1: 1}
{1: 2}